.app-footer {
  width: 100%;
  text-align: center;
  padding: 12px 0;
  margin-top: 30px;
  color: #f3f3f3;
  font-size: 14px;
  border-top: 1px solid #e2e2e2;
  
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.app-footer p {
  margin: 0;
  font-weight: 500;
}

.app-footer strong {
  color: #fdf8f8;
}
